<a href="https://colab.research.google.com/github/vishalpro7/Programming-Paradigms-III-Python-Repository/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Employee = {"Name":"Johny", "Age":32,"salary":2600, "Company":"TCS"}
print(Employee)

{'Name': 'Johny', 'Age': 32, 'salary': 2600, 'Company': 'TCS'}

In [2]:
Dict = {}
print("Empty Dictionary:")
print(Dict)

Empty Dictionary:
{}

In [5]:
Emp = {"Name":"Harry","Age" :24,"Company":"TCS"}
print(type(Employee))
print("Printing Employee data..")
print("Name : %s" %Emp["Name"])
print("Age : %d" %Emp["Age"])

<class 'dict'>
Printing Employee data..
Name : Harry
Age : 24

In [6]:
Dict = {}
print("Empty Dictionary:")
print(Dict)

Dict[0] = 'Peter'
Dict[1] = 'Joseph'
Dict[2] = 'Thierry'
print(Dict)

Empty Dictionary:
{}
{0: 'Peter', 1: 'Joseph', 2: 'Thierry'}

In [15]:
Employee = {"Name":"Johny", "Age" : 20, "Company" : "TCS"}
print(type(Employee))
print(Employee)
print("Enter the details of the new Employee:")
Employee["Name"] = input("Name :")
Employee["Age"] = int(input("Age :"))
Employee["Company"] = input("Company :")
print("After adding new details")
print(Employee)
del Employee["Age"]
print(Employee)

<class 'dict'>
{'Name': 'Johny', 'Age': 20, 'Company': 'TCS'}
Enter the details of the new Employee:
Name :Ropanth
Age :54
Company :MAYURA
After adding new details
{'Name': 'Ropanth', 'Age': 54, 'Company': 'MAYURA'}
{'Name': 'Ropanth', 'Company': 'MAYURA'}

In [17]:
Emp = {"Name":"Vein", "Age":20, "Company":"TCS"}
for x in Emp:
  print(x)


for x in Emp.items():
  print(x)
Emp.pop("Name")
print(Emp)

Name
Age
Company
('Name', 'Vein')
('Age', 20)
('Company', 'TCS')
{'Age': 20, 'Company': 'TCS'}