<a href="https://colab.research.google.com/github/vishalpro7/Programming-Paradigms-III-Python-Repository/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday"}
print(type(Days))
print(Days)
for i in Days:
  print(i)

<class 'set'>
{'Wednesday', 'Thursday', 'Friday', 'Tuesday', 'Monday'}
Wednesday
Thursday
Friday
Tuesday
Monday

In [ ]:
Day = set(["January", "February", "March", "November"])
print(type(Day))
print(Day)
for i in Day:
  print(i)

<class 'set'>
{'January', 'March', 'February', 'November'}
January
March
February
November

In [ ]:
set1 = {1,2,3,"JavaTPoint",20.5,14}
print(type(set1))

<class 'set'>

In [ ]:
set4 = set()
print(type(set4))

<class 'set'>

In [ ]:
month = set(["December", "October", "August", "July"])
print(type(month))
month.add("June")
month.add("April")
print(month)
month.discard("July")
print(month)
month.remove("December")
print(month)

<class 'set'>
{'December', 'August', 'July', 'April', 'October', 'June'}
{'December', 'August', 'April', 'October', 'June'}
{'August', 'April', 'October', 'June'}

In [26]:
set2 = {2,5,6}
set3 = {6,36,5}
selection = set2.union(set3)
print(selection)
print(set2&set3)
print(set2-set3)
print(set2^set3)

{2, 36, 5, 6}
{5, 6}
{2}
{2, 36}